@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
    /* Colors */
    --color-background: #100b14;
    --color-foreground: #180161;
    --color-primary: #eb3779;
    --color-secondary: #571b8b;
    --color-accent: #fb793c;
    --color-text: #ebe4f1;
    --color-border: color-mix(in srgb, var(--color-text) 20%, transparent);
    --color-border-active: color-mix(in srgb, var(--color-text) 60%, transparent);

    /* Defaults */
    --default-transition-duration: 0.3s;

    /* Prose */
    --prose-body: var(--color-text);
    --prose-headings: var(--color-text);
    --prose-links: var(--color-primary);
    --prose-bold: var(--color-text);
    --prose-counters: var(--color-text);
    --prose-bullets: var(--color-text);
    --prose-hr: var(--color-border);
    --prose-quotes: var(--color-text);
    --prose-quote-borders: var(--color-border);
    --prose-captions: var(--color-text);
    --prose-code: var(--color-accent);
    --prose-pre-code: var(--color-text);
    --prose-pre-bg: var(--color-foreground);
    --prose-th-borders: var(--color-border);
    --prose-td-borders: var(--color-border);

    /* Fonts */
    --font-sans: var(--font-lexend);
}

.scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
